@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
  box-sizing: border-box; }

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #5c5c5c;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clock-frame {
  border-radius: 50%;
  background-color: blue; }

.center {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.clock-container {
  position: relative;
  background-color: black;
  z-index: -1;
  top: 100px;
  left: 100px;
  height: 50%;
  width: 50%;
  border-radius: 50%; }

.container-body {
  position: absolute;
  text-align: center; }

.dot-container {
  left: 200px;
  top: 115px;
  height: 170px;
  position: absolute; }

.dot {
  z-index: 2;
  position: absolute;
  height: 100%; }
  .dot::before {
    content: '';
    position: absolute;
    border: 2px solid #fefffd;
    border-radius: 2px; }

.dot-1 {
  transform: rotate(0deg); }

.dot-2 {
  transform: rotate(12deg); }

.dot-3 {
  transform: rotate(24deg); }

.dot-4 {
  transform: rotate(36deg); }

.dot-5 {
  transform: rotate(48deg); }

.dot-6 {
  transform: rotate(60deg); }

.dot-7 {
  transform: rotate(72deg); }

.dot-8 {
  transform: rotate(84deg); }

.dot-9 {
  transform: rotate(96deg); }

.dot-10 {
  transform: rotate(108deg); }

.dot-11 {
  transform: rotate(120deg); }

.dot-12 {
  transform: rotate(132deg); }

.dot-13 {
  transform: rotate(144deg); }

.dot-14 {
  transform: rotate(156deg); }

.dot-15 {
  transform: rotate(168deg); }

.dot-16 {
  transform: rotate(180deg); }

.dot-17 {
  transform: rotate(192deg); }

.dot-18 {
  transform: rotate(204deg); }

.dot-19 {
  transform: rotate(216deg); }

.dot-20 {
  transform: rotate(228deg); }

.dot-21 {
  transform: rotate(240deg); }

.dot-22 {
  transform: rotate(252deg); }

.dot-23 {
  transform: rotate(264deg); }

.dot-24 {
  transform: rotate(276deg); }

.dot-25 {
  transform: rotate(288deg); }

.dot-26 {
  transform: rotate(300deg); }

.dot-27 {
  transform: rotate(312deg); }

.dot-28 {
  transform: rotate(324deg); }

.dot-29 {
  transform: rotate(336deg); }

.dot-30 {
  transform: rotate(348deg); }

.path {
  fill: transparent;
  stroke: #F85B5B;
  stroke-width: 3;
  transform: rotate(-90deg);
  stroke-dasharray: 625;
  transform-origin: center center;
  animation: circle-animation 4s linear infinite; }

@keyframes circle-animation {
  0% {
    stroke-dashoffset: 625; }
  50% {
    stroke-dashoffset: 0;
    transform: rotate(-90deg) scaleY(1); }
  50.00001% {
    transform: rotate(-90deg) scaleY(-1); }
  100% {
    stroke-dashoffset: 625;
    transform: rotate(-90deg) scaleY(-1); } }

.content-date {
  font-size: 0.75rem; }

.content-time {
  font-size: 2rem;
  font-weight: bold; }

.heart {
  display: inline-block;
  font-size: 0.75rem;
  float: left; }
  .heart-icon {
    display: inline-block;
    animation: heart-animation 2s ease-in-out infinite;
    color: #F85B5B; }

.calories {
  display: inline-block;
  font-size: 0.75rem;
  float: right; }

@keyframes heart-animation {
  to {
    transform: scale(1.2); }
  50% {
    transform: scale(1.5); }
  from {
    transform: scale(1.2); } }

.content-inner-body {
  width: 100%;
  margin: auto;
  color: white; }
